body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokedexBody{
  text-align: center;
  background-color:antiquewhite;
  margin: 40px;
}

.pokedexBody .title{
  background-color: darkgray;
  text-align: left;
  padding-left: 20px;
}

.pokedexBody .pokemonList{
  height: 20px;
  width: 200px;
  margin: 20px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 20px;
}

.pokedexBody .pokemonImage{
  height: 20px;
  width: 20px;
  padding: 0 10px;
}

.pokedexBody .card-group .btn{
  margin: 20px;
  border-radius: 10px;
}

.pokedexBody .card-group .btn:hover{
  background-color:dimgray;
}

.pokedexBody .load-more, .goBack{
  margin-bottom: 50px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}
.pokedexBody .load-more:hover, .goBack:hover{
  background-color:dimgray;
}

.pImage{
  margin: 10px;
  text-align: left;
  padding: 10px;
  border: 2px solid;
  height: auto;
  width: 20%;
}

.pokemonStatusImage{
  height: 200px;
  width: 80%;
}

.pokedexBody .card-group .container{
  padding: 20px;
}